.App {

  /* Position */
  
  position: absolute;
  top: 0;
  left: 0;
  
  /* Size */

  min-width: 100vw;
  min-height: 100vh;
  
  /* Colors */
  
  background-color: #1e1e2e;
  color: #ccd5f3;
  
  /* Content */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background-color: #313244;
  border: 1px #45475a solid;
  border-radius: 5px;
  color: #fab387;
  font-size: 20px;
  text-align: center;
  width: 25vw;
  height: 4vh;
  caret-color: #585b70;
}

.input::placeholder {
  color: #7f849c;
  opacity: 1;
}

.input:focus {
  outline: none;
}